.social_networks {
	display: flex;
	gap: 10px;
}
.social_networks a {
	display: block;
	text-decoration: none;
}
.social_networks svg {
	display: block;
	overflow: visible;
}
.radio_label {
	display: flex;
	align-items: center;
	gap: 5px;
}
.settings_question {
	display: inline-block;
}
.settings_question svg {
	width: 20px;
	height: 20px;
	display: block;
	overflow: visible;
}
.belingogeopro_exclude_cities_container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 20px;
}
.belingogeopro_exclude_cities_item {
	display: flex;
	align-items: center;
	gap: 5px;
}
.belingogeopro_exclude_cities_item input {
	margin: 0;
	padding: 0;
}